<h1 class="text-center font-weight-light text-danger">
    <strong>
        {{ Titulo }}.
    </strong>
</h1><hr>    
<div [ngClass]="{'div-expandido': Collapse, 'div-contraido':!Collapse}">
    <div *ngIf="!Collapse">
        <input type="text" class="form-control input-89" 
        placeholder="Buscar producto..." [(ngModel)]="word" (change)="SearchByName()" 
        (keyup)="SearchByName()"><br>
    
        <select id="Select" class="form-control input-89" (change)="SortByCategory($event.target.value)">
            <option>Seleccione una categoria...</option>
            <option *ngFor="let categoria of Categorias; index as i" class="puntero">
                {{categoria}}
            </option>
        </select><br>

        <div id="btns" class="text-center"> 
            <div class="btn-group centrado" role="group">
              <button type="button" class="btn btn-outline-danger" *ngFor="let btn of btnCount" (click)="PageChange(btn)">
                {{btn+1}}
              </button>
            </div>
        </div>
    </div>

    <div *ngIf="!loading && productos.length > 0">
        <div class="card-columns" id="cards">
          <app-info-card *ngFor="let prod of productos |slice:start:end" [product]="prod" [Small]="90"></app-info-card>
        </div>
    </div>
    <div *ngIf="!loading  && productos.length == 0">
        <h4 class="text-center">No se encontraron productos</h4>
    </div>
    <div class="text-center" *ngIf="loading">
        <h4>Buscando productos</h4>
        <i class="fa fa-refresh fa-spin fa-2x centrado" aria-hidden="true"></i>
    </div>
</div>

<div id="content" *ngIf="Collapse">
    <input type="text" id="search" class="form-control" placeholder="Buscar producto..." 
    [(ngModel)]="word" (change)="SearchByName()" (keyup)="SearchByName()"><br>

    <mat-list *ngIf="this.Categorias?.length > 0">
        <span class="text-center text-danger"><strong>Categorias</strong></span>

        <mat-list-item *ngFor="let categoria of Categorias; index as i" class="puntero" (click)="SortByCategory(categoria)"
        [id]="'li'+i" (mouseover)="ColorChg('li'+i, $event)" (mouseleave)="ColorChg('li'+i, $event)">
            <i class="fa fa-arrow-right r-arrow"></i>
            {{categoria}}
        </mat-list-item>
        <mat-list-item>
            <div style="width:100%; padding-bottom: 15px;" class="text-center">
                <div class="btn-group centrado margin-50" role="group">
                  <button type="button" class="btn btn-outline-danger" *ngFor="let btn of btnCount" 
                  (click)="PageChange(btn)" [ngClass]="{'active':btn == CurrentPage}"> 
                    {{btn+1}}
                  </button>
                </div>
            </div>
        </mat-list-item>
    </mat-list>
</div><br><br><br>


