<h2 class="text-center text-danger"><strong>{{ producto.Nombre }}</strong></h2><hr>

<div id="leftbox" *ngIf="producto" class="border border-danger rounded-lg"> 
    <div class="box">
        <img [src]="producto.Foto[0]" alt="" width="200" class="responsive">
    </div>

    <div>
      <h3 class="text-danger text-center">
        <strong>Precio:</strong>
      </h3>

      <p class="text-dark text-center">{{producto.Precio |currency:"DO"}}</p>
      <div class="btn-group d-flex justify-content-center" role="group">

        <button type="button" class="btn btn-outline-danger" (click)="Min()">
            <i class="fa fa-minus"></i>
        </button> 

        <button type="button" class="btn btn-danger">
            <strong>{{Cantidad}}</strong>
        </button> 

        <button type="button" class="btn btn-outline-danger" (click)="Add()">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </div>

      <button class="btn btn-outline-danger btn-block" (click)="AddToChart(producto)" id="btnChart">
        Añadir al carrito
      </button>
    </div>
</div> 

<div id="rightBox">
    <div class="border border-danger rounded-lg">
        <h2 class="text-center text-danger">
            <strong>
                Descripcion
            </strong>
        </h2>
        <p class="text-dark text-center">{{producto.Descripcion}}</p>
    </div>
    <!---->
    <div class="border border-danger rounded-lg margin-t-15">
        <h2 class="text-center text-danger">
            <strong>
                Caracteristicas
            </strong>
        </h2>

        <div class="margin-t-15"> 
            <ul>
                <li *ngFor="let caracteristica of producto.Caracteristicas">
                    <strong class="text-danger">{{caracteristica.Nombre}}: </strong>{{caracteristica.Contenido}}
                </li>
            </ul>
        </div>
    </div>
</div>