
<div class="card animated" id="card" [ngStyle]="{'width.%': Small}">
  <div id="foto">
    <img [src]="product.Foto[0]" class="img-fluid puntero" [alt]="product.Nombre" (click)="openDialog()">
  </div>

  <div class="card-body align-items-end" style="margin-bottom: 0%;">
    <h3 class="card-title text-danger puntero" (click)="openDialog()"><strong>{{ product.Nombre }}</strong></h3>

    <div class="puntero" style="width: fit-content;" data-toggle="tooltip" (click)="AddToChart(product)" data-placement="bottom" title="añadir al carrito">
      <i class="fa fa-cart-plus text-danger" style="font-size: 22px;"></i>
        <a class="text-danger">{{ product.Precio | currency:'DO' }}</a>
    </div>
  </div>
</div>
